.image {
    max-width: 430px;
    max-height: 430px;
    /* margin-bottom: 30px; */
}

.uploader {
    width: 107px;
}

/* body {
    background-color: #C9D6DF;
} */

/* .text-top {
    margin-bottom: 50px;
} */

/* .text-bottom {
    width: 370px;
    margin-right: 0px;

} */

#high {
    text-align: center;
    /* margin-left: 60px; */
}

#label {
    padding-top: 263px;
    margin-left: 30px;

}

#result {
    padding-top: 100px;
    justify-content: center;
    margin-right: 20px;

}

.col-sm {
    width: 700px;
}

#merge {
    margin-top: 10px;
    /* margin-top: 296px; */
    width: 100%;
}

/* .container-fluid {
    margin-left: 0px;
    margin-right: 10px;
} */

.text-center {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;

}

h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

hr {
    height: 5px;
    background-color: #1E2022;
}